/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
  margin: 0;

  li {
    height: 0;
    width: 0;
    list-style: none;
  }

  .skip-link-hidden {
    display: none;
    visibility: hidden;
  }
}

/* Display outline on focus */
:focus {
  color: $skip-link--color;
  outline: $skip-link--outline-color solid 1px;
}

