//
// Base navigation styles
//==========================

.genesis-nav-menu {
  clear: both;
  @include rem( font-size, $nav--font-size );
  line-height: 1;
  width: 100%;

  @media only screen and (max-width: 1023px) {
    text-align: center;

    .genesis-nav-menu li,
    .site-header ul & {
      float: none;
    }
  }

  .menu-item {
    display: block;
    float: none;
    position: relative;

    &:focus,
    &:hover {
      position: relative;
    }

    &:hover > .sub-menu {
      display: block;
      left: auto;
      opacity: 1;
    }
  }

  a {
    color: $nav--link-color;
    display: block;
    font-size: $nav--font-size;
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
  }

  a:focus,
  a:hover,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:focus,
  .sub-menu .current-menu-item > a:hover {
    color: $nav--hover-color;
    text-decoration: none;
  }

  .sub-menu,
  .sub-menu a {
    width: 100%;
  }

  .sub-menu {
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    z-index: 99;

    a {
      background-color: $submenu--link-background-color;
      @include rem( font-size, $submenu--font-size );
      position: relative;
      word-wrap: break-word;
    }
  }
}
