//
// Site Header Base Style
//==============================

.site-header {
  background-color: $site-header--background-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 0 30px;

  @media only screen and (max-width: 1023px) {
    .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

